In [4]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df =pd.read_csv('https://raw.githubusercontent.com/jackiekazil/data-wrangling/master/data/chp3/data-text.csv') 
df1=pd.read_csv('https://raw.githubusercontent.com/kjam/data-wrangling-pycon/master/data/berlin_weather_oldest.csv')

KeyboardInterrupt:

In [ ]:
#1. Get the Metadata from the above files.
print(df.info())
print(df1.info())

In [ ]:
#2. Get the row names from the above files.
np.array(df.index)

In [ ]:
np.array(df1.index)

In [ ]:
#3. Change the column name from any of the above file.
df.rename(columns={'Indicator':'Indicator_id'}).head()

In [ ]:
#4. Change the column name from any of the above file and store the changes made permanently.
df.rename(columns={'Indicator':'Indicator_id'},inplace=True)
df.head()

In [ ]:
#5. Change the names of multiple columns.
df.rename(columns={'PUBLISH STATES':'Publication Status','WHO region':'WHO Region'},inplace=True)
df.head()

In [ ]:
#6. Arrange values of a particular column in ascending order.
df.sort_values('Year').head()

In [ ]:
#7. Arrange multiple column values in ascending order.
df.sort_values(['Indicator_id','Country','Year','WHO Region','Publication Status'],ascending=True).head()

In [ ]:
#8. Make country as the first column of the dataframe.
idx=[_ for _ in df.columns]
idx[0],idx[5]=idx[5],idx[0]
pdf2 = pd.DataFrame(df,columns=idx)
pdf2.head()

In [ ]:
#9. Get the column array using a variable
df['WHO Region'].values

In [ ]:
#10.Get the subset rows 11, 24, 37
df.loc[[11,24,37]]

In [ ]:
#11. Get the subset rows excluding 5, 12, 23, and 56
df.drop([5,12,23,56],axis=0,inplace=True)
df

In [5]:
users=pd.read_csv('https://raw.githubusercontent.com/ben519/DataWrangling/master/Data/users.csv' )
sessions=pd.read_csv('https://raw.githubusercontent.com/ben519/DataWrangling/master/Data/sessions.csv' )
products=pd.read_csv('https://raw.githubusercontent.com/ben519/DataWrangling/master/Data/products.csv' )
transactions=pd.read_csv('https://raw.githubusercontent.com/ben519/DataWrangling/master/Data/transactions.csv')

In [ ]:
#12. Join users to transactions, keeping all rows from transactions and only matching rows from users (left join)
transactions.merge(users,how='left')

In [ ]:
users.head()

In [ ]:
#13. Which transactions have a UserID not in users?
uid=users.UserID.tolist()
transactions[~transactions.UserID.isin(uid)]

In [ ]:
#14. Join users to transactions, keeping only rows from transactions and users that match via UserID (inner join)
transactions.merge(users,left_on='UserID',right_on='UserID',how='inner')

In [6]:
#15. Join users to transactions, displaying all matching rows AND all non-matching rows (full outer join)
transactions.merge(users,left_on='UserID',right_on='UserID',how='outer')

,TransactionID,TransactionDate,UserID,ProductID,Quantity,User,Gender,Registered,Cancelled
0,1.0,2010-08-21,7.0,2.0,1.0,NaN,NaN,NaN,NaN
1,9.0,2015-04-24,7.0,4.0,3.0,NaN,NaN,NaN,NaN
2,2.0,2011-05-26,3.0,4.0,1.0,Caroline,female,2012-10-23,2016-06-07
3,3.0,2011-06-16,3.0,3.0,1.0,Caroline,female,2012-10-23,2016-06-07
4,7.0,2013-12-30,3.0,4.0,1.0,Caroline,female,2012-10-23,2016-06-07
5,10.0,2016-05-08,3.0,4.0,4.0,Caroline,female,2012-10-23,2016-06-07
6,4.0,2012-08-26,1.0,2.0,3.0,Charles,male,2012-12-21,NaN
7,5.0,2013-06-06,2.0,4.0,1.0,Pedro,male,2010-08-01,2010-08-08
8,6.0,2013-12-23,2.0,5.0,6.0,Pedro,male,2010-08-01,2010-08-08
9,8.0,2014-04-24,NaN,2.0,3.0,NaN,NaN,NaN,NaN
10,NaN,NaN,4.0,NaN,NaN,Brielle,female,2013-07-17,NaN
11,NaN,NaN,5.0,NaN,NaN,Benjamin,male,2010-11-25,NaN

In [27]:
#16. Determine which sessions occurred on the same day each user registered
new_users=users.merge(sessions,right_on='UserID',left_on='UserID',how='inner')
new_users[new_users.Registered.eq(new_users['SessionDate'])]

   UserID     User  Gender  Registered   Cancelled  SessionID SessionDate
1       2    Pedro    male  2010-08-01  2010-08-08          2  2010-08-01
7       4  Brielle  female  2013-07-17         NaN          9  2013-07-17

In [38]:
#17. Build a dataset with every possible (UserID, ProductID) pair (cross join)
users['Key']=1
products['Key']=1
pd.merge(users,products,on='Key').loc[:,('UserID','ProductID')]

    UserID  ProductID
0        1          1
1        1          2
2        1          3
3        1          4
4        1          5
5        2          1
6        2          2
7        2          3
8        2          4
9        2          5
10       3          1
11       3          2
12       3          3
13       3          4
14       3          5
15       4          1
16       4          2
17       4          3
18       4          4
19       4          5
20       5          1
21       5          2
22       5          3
23       5          4
24       5          5

In [40]:
#18. Determine how much quantity of each product was purchased by each user
l=pd.merge(users,products,on='Key').loc[:,('UserID','ProductID','Price')]
l

    UserID  ProductID  Price
0        1          1  14.16
1        1          2  33.04
2        1          3  10.65
3        1          4  10.02
4        1          5  29.66
5        2          1  14.16
6        2          2  33.04
7        2          3  10.65
8        2          4  10.02
9        2          5  29.66
10       3          1  14.16
11       3          2  33.04
12       3          3  10.65
13       3          4  10.02
14       3          5  29.66
15       4          1  14.16
16       4          2  33.04
17       4          3  10.65
18       4          4  10.02
19       4          5  29.66
20       5          1  14.16
21       5          2  33.04
22       5          3  10.65
23       5          4  10.02
24       5          5  29.66

In [43]:

transactions.head()

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1